doctype html 
html 
    head
        link(rel="stylesheet" href="/assets/css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        title=siteName
    body
        include ../partials/header
        block content
    script(src="/assets/js/main.js")
    block script    
    