.video-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.video-owner {
  font-weight: 600;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
}

.video-title {
  color: rgba(0, 0, 0, 0.4);
}

.video-description {
  color: rgba(0, 0, 0, 0.4);
}

.video-Controller {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.showing {
    opacity: 1;
  }
}
