//config
@import "./config/variables";
@import "./config//reset";

//components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/forms.scss";
@import "./components/video.scss";
@import "./components/video-player.scss";

//screens
@import "./screens/edit-profile.scss";
@import "./screens/home.scss";
@import "./screens/profile.scss";
@import "./screens/search.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
// Defaults
a {
  color: inherit;
  text-decoration: none;
}
