header {
  padding: 20px 40px;
  box-shadow: 0 3px 2px -2px burlywood;
  border-bottom: 1px solid bisque;
  margin-bottom: 40px;
  nav {
    display: flex;
    justify-content: space-between;
    span {
      color: #996666;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
