extends layout/layout.pug

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="password" placeholder="put your password" required name="originPassword")
        input(type="password" placeholder="change password" required name="changePassword")
        input(type="password" placeholder="confirm change password" required name="checkChangePassword")
        input(type="submit" value="Change password")