extends layout 


block content 
    form(method="post")
        input(type="text" required placeholder="name " name="name")
        input(type="email" required placeholder="email" name="email") 
        input(type="username" required placeholder="username" name="username")
        input(type="password" required placeholder="password" name="password")
        input(type="location" required name="location" placeholder="location")
        input(type="submit" value="Join")
        