extends layout 


block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(type="text" required placeholder="name " name="name")
        input(type="email" required placeholder="email" name="email") 
        input(type="username" required placeholder="username" name="username")
        input(type="password" required placeholder="password" name="password")
        input(type="password" required placeholder="confirm password" name="password2")
        input(type="location" required name="location" placeholder="location")
        input(type="submit" value="Join")
        include partials/social-login
    hr
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr; 