extends layout
include mixins/video

block content
    form(action="" method="get")
        input(type="text" name="keyword" placeholder="Search by title.")
        input(type="submit" value="search") 

    div 
        each video in videos
            +video(video)