header 
    nav
        a(href="/")
            h4 Home 
        a(href="/search")
            h4 Search
        if loggedIn
            a(href="/video/upload") 
                h4 upload
            a(href="/user/logout")
                h4 logout
            a(href="/user/edit-profile")
                h4 edit-profile
        else 
            a(href="/signUp") 
                h4 sign up
            a(href="/login") 
                h4 Login

